numpy.where(condition[, x, y]) <br>
Return elements chosen from x or y depending on condition. <br>


<strong>Parameters:</strong><br>
condition : array_like, bool
Where True, yield x, otherwise yield y.

x, y : array_like
Values from which to choose. x, y and condition need to be broadcastable to some shape.

Returns:	
out : ndarray
An array with elements from x where condition is True, and elements from y elsewhere.

In [2]:
import numpy as np

a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
np.where(a < 5, a, 10*a)

array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

From above example, we can noted that if ***a*** is less than 5, then output will be exactly as ***a***, while greater than 5 will return output of multiplication by 10.

The `np.where` is different from `DataFrame.where` which is replace values where the condition is False.

In [4]:
import pandas as pd

s = pd.Series(range(5))
s.where(s > 0)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [5]:
s.mask(s > 0)

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [6]:
s.where(s > 1, 10)

0    10
1    10
2     2
3     3
4     4
dtype: int64